* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Open Sans", sans-serif;

    /* Background y Border */
    --background-default: #F5F4F0;
    --border-primary: #D9D9D9; 

    /* Text */
    --text-primary: #1B1B1B;
    --text-secondary: #333333;
    --text-tertiary: #696969;
    --text-headline: #E1624F;

    /* Accent */
    --accent-blue: #0C51A7;
    --accent-orange: #E95E10;
    --accent-pink: #E5245E;
    --accent-purple: #591B98;
}

body {
    background-color: var(--background-default);
}

main#container {
    margin: 88px auto 65px;
    
    /* BACKGROUND PARA VISUALIZAR A POSIÇÃO DO CONTAINER */
    background-color: white;

    width: 1120px;
    height: 3054px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
}

.headline {
    color: var(--text-headline);
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}